{
  "tabWidth": 4,
  "useTabs": false,
  "printWidth": 100,
  "semi": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": ["*.json", "*.md", ".prettierrc"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
